---
- name: Check Database Credentials
  ansible.builtin.assert:
    that:
      - _db['user'] is defined
      - _db['password'] is defined
    fail_msg: "No database credentials defined."

- name: Build pgsql command
  ansible.builtin.set_fact:
    _tmp_pgsqlcmd: >-
      PGPASSWORD={{ _db['password'] | quote }}
      psql
      "{% if _db['host'] | default('localhost') != 'localhost' %} host={{ _db['host'] }}{%- endif %}
      {% if _db['port'] is defined %} port={{ _db['port'] }}{%- endif %}
      user={{ _db['user'] }}
      dbname={{ _db['name'] }}
      {% if _db['ssl_mode'] is defined %} sslmode={{ _db['ssl_mode'] | default('require') }}{%- endif %}
      {% if _db['ssl_cert'] is defined %} sslcert={{ _db['ssl_cert'] }}{%- endif %}
      {% if _db['ssl_key'] is defined %} sslkey={{ _db['ssl_key'] }}{%- endif %}
      {% if _db['ssl_extra_options'] is defined %} {{ _db['ssl_extra_options'] }}{%- endif %}"

- name: PostgresQL import db schema
  ansible.builtin.shell: >
    {{ _tmp_pgsqlcmd }}
    -tq -c "{{ _db['select_query'] }}" ||
    (
      {{ _tmp_pgsqlcmd }} < {{ _db['schema_path_pgsql'] }} &&
      echo "Schema imported"
    )
  register: _icingaweb2_schema
  changed_when:
    - '"Schema imported" in _icingaweb2_schema.stdout_lines'
  throttle: 1
