{
  "IfW-CustomZones": {
    "Values": {{ ifw_icinga2_global_zones | tojson }}
  },
  {% if ifw_icinga2_ticket is defined %}
  {# Use ticket if specified, else resort to contacting ca_host (master or satellite) #}
  "IfW-Certificate": {
    {# 1 -> Use ticket to obtain certificate #}
    "Selection": "1"
  },
  "IfW-Ticket": {
    "Values": [
      "{{ ifw_icinga2_ticket }}"
    ]
  },
  {% else %}
  "IfW-Certificate": {
    {# 0 -> Sign certificate manually on the Icinga CA master #}
    "Selection": "0"
  },
  "IfW-CAServer": {
    "Values": [
      "[{{ ifw_icinga2_parents[0].host | default(ifw_icinga2_parents[0].cn) }}]:{{ ifw_icinga2_parents[0].port | default('5665') }}"
    ]
  },
  {% endif %}
  "IfW-GlobalZones": {
    {# 3 -> Don't automatically add suggested global zones #}
    "Selection": "3"
  },
  "IfW-InstallAgent": {
    {# 0 -> Set up for installation. Keeps IMC structured correctly. #}
    "Selection": "0"
  },
  "IfW-AgentVersion": {
    "Values": [
      {# 'release' means 'latest' stable #}
      "{{ ifw_icinga2_agent_version if ifw_icinga2_agent_version != 'latest' else 'release' }}"
    ]
  },
  "IfW-Port": {
    "Values": [
      "{{ ifw_icinga2_port | default('5665') }}"
    ]
  },
  "IfW-ParentNodes": {
    "Values": {{ ifw_icinga2_parents | map(attribute='cn') | tojson }}
  },
  "IfW-ParentZone": {
    "Values": [ "{{ ifw_icinga2_parent_zone }}" ]
  },
  "IfW-ParentAddress": {
    "Values": {
      {% for _parent in ifw_icinga2_parents %}
      "{{ _parent.cn }}": [ "[{{ _parent.host | default(_parent.cn) }}]:{{ _parent.port | default('5665') }}" ]{{ ',' if (ifw_icinga2_parents | length == 2) and loop.index == 1 }}
      {% endfor %}
    }
  },
  "IfW-InstallPlugins": {
    {# 1 -> Don't automatically install plugins #}
    "Selection": "1"
  },
  "IfW-Connection": {
    {# Connection direction -> Influences firewall rules
       0 -> Connection from agent
       1 -> Connection from parent
       2 -> Connection from both sides
    #}
    {% if (ifw_connection_direction | lower) == 'fromagent' %}
    "Selection": "0"
    {% elif (ifw_connection_direction | lower) == 'fromparent' %}
    "Selection": "1"
    {% elif (ifw_connection_direction | lower) == 'both' %}
    "Selection": "2"
    {% endif %}
  },
  "IfW-InstallService": {
    {# 1 -> Don't automatically install service. Handled elsewhere #}
    "Selection": "1"
  },
  "IfW-InstallJEAProfile": {
    "Selection": "2"
  },
  "IfW-Hostname": {
    {# 6 -> Set hostname manually #}
    "Selection": "6"
  },
  "IfW-CustomHostname": {
    "Values": [
      "{{ ifw_icinga2_cn }}"
    ]
  },
  "IfW-AgentUser": {
    "Values": [
      {# Ensure single backslash becomes double backslash. InstallCommand fails otherwise #}
      "{{ ifw_icinga2_user | replace('\\', '\\\\') }}"
    ]
  },
  "IfW-InstallApiChecks": {
    {# 0 -> Don't install IfW Api Check Forwarder #}
    "Selection": "0"
  },
  "IfW-InstallJEAProfile": {
    {% if ifw_jea_install %}
    {%   if not ifw_jea_managed_user %}
    {# 0 Install JEA Profile #}
    "Selection": "0"
    {%   else %}
    {# 1 Install JEA Profile with managed user "icinga" #}
    "Selection": "1"
    {%   endif %}
    {% else %}
    {# 2 Do not install JEA Profile #}
    "Selection": "2"
    {% endif %}
  },
  "IfW-InstallApiChecks": {
    {% if ifw_api_feature %}
    {# 1 -> Install Api-Checks feature #}
    "Selection": "1"
    {% else %}
    {# 0 -> Do not install Api-Checks feature #}
    "Selection": "0"
    {% endif %}
  }
}
