---
- name: Zypper - install package icinga2
  community.general.zypper:
    name: "{{ icinga2_packages + icinga2_packages_dependencies }}"
    state: present

- name: Zypper - install package icinga2-selinux
  community.general.zypper:
    name: icinga2-selinux
    state: present
  when: ansible_facts["selinux"] is defined and ansible_facts["selinux"]["status"] == "enabled"
